.container {
  display: flex;
  flex-wrap: wrap;
}

.cell_0 {
  width: 40px;
  height: 40px;
  background-color: gray;
  border: 1px black solid;
  padding: 1px;
}

.row {
  display: flex;
  flex-direction: row;
}